<nav class="navbar navbar-expand-sm navbar-dark bg-dark position-fixed" style="width: 100%; z-index: 2; top:0;">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">MooVees</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/Home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Home">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Cart">Cart</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2 bg-dark text-white" type="text">
          <button class="btn btn-primary" type="button">Search</button>
        </form>
      </div>
    </div>
  </nav>

